@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    font-family: "Poppins";
    background-color: hsl(240, 100%, 5%);
}
.header{
    /* background-color: brown; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(212, 25%, 25%);
    border-radius: 0px 0px 40px 40px;
    overflow-x: hidden;
}
h3{
    margin-top: 20px;
    font-size: 50px;
    color: white;
}
#one{
    font-size: 50px;
    padding-left: 30px;
    margin-top: 20px;
    color: white;
    cursor: pointer;

}
#one:hover{
    color: black;
}
#last{
    font-size: 50px;
    padding-right: 30px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
#last:hover{
    color: black;
}
.score{
    background-color: rgb(236, 121, 54);
    width: 50rem;
    height: 80px;
    margin-top: 40px;
    margin-left: 350px;
    margin-right: auto;
    display: flex;
    border-radius: 10px;
    overflow-x: hidden;
}
.left{
    /* border-right: 5px solid white; */
    width: 50rem;
    height: 80px;
    border: none;
}
hr{
    color: white;
    font-size: 30px;
    border-right: 3px solid white;
    height: 50px;
    margin-top: 15px;
}
.right{
    width: 50rem;
    height: 80px;
}
section{
    margin-left: 30px;
    margin-right: 30px;

    margin-top: 20px;
    overflow-x: hidden;
    
}
.art{
    width: 50rem;
    height: 80px;
    background-color: hsl(212, 25%, 25%);
    border: none;
    border-radius: 10px;
    overflow-x: hidden;
    display: flex;
    margin-left: 320px;
    justify-content: space-around;

}
 #logo{
    font-size: 50px;
    padding-left: 60px;
    margin-top: 10px;
    color: rgb(236, 121, 54);
    
} 
#text{
    font-size: 30px;
    margin-top: 15px;

} 
.general-knowledge{
    width: 50rem;
    height: 80px;
    background-color: hsl(212, 25%, 25%);
    border: none;
    margin-top: 40px;
    border-radius: 10px;
    overflow-x: hidden;
    margin-left: 320px;
    display: flex;
}
.general-knowledge #logo{
    padding-left: 10px;
    margin-left: 150px;
}
.general-knowledge #text{
    margin-left: 210px;

}
.music{
    width: 50rem;
    height: 80px;
    background-color: hsl(212, 25%, 25%);
    border: none;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 320px;
    display: flex;
}
.music #logo{
    padding-left: 10px;
    margin-left: 150px;
}
.music #text{
    margin-left: 210px;

}
.technology{
    width: 50rem;
    height: 80px;
    background-color: hsl(212, 25%, 25%);
    border: none;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 320px;
    display: flex;

}
.technology #logo{
    padding-left: 10px;
    margin-left: 150px;
}
.technology #text{
    margin-left: 210px;
    /* font-size: 80px; */

}
@media screen and (max-width: 360px) {
    body{
        overflow-x: hidden;
    }
    .header{
        display: flex;
        justify-content: space-around;
        overflow-x: hidden;
    }
    section{
        display: block;
        margin-left: 0px;
    }
    hr{
        height: 50px;
        margin-top: 15px;

    }
    #one{
        font-size: 25px;
        cursor: pointer;
        padding: 0px;
    }
    #one:hover{
        color: black;
    }
    #last{
        font-size: 25px;
        cursor: pointer;
        padding: 0px;

    }
    #last:hover{
        color: black;
    }
    h3{
        font-size: 30px;
        font-weight: 300;
    }
    .score{
        display: flex;
        width: 300px;
        /* background-color: yellowgreen; */
        border-radius: 10px;
        margin-left: 30px;

    }
    .art{
        display: flex;
        width: 300px;
        margin-left: 30px;
        border-radius: 10px;

    }
    .art #logo{
        padding-left: 0px;
        font-size: 30px;
        margin-top: 20px;
        /* color: green; */

    }
    .art #text{
        font-size: 20px;
        margin-top: 20px;

    }
    .general-knowledge{
        display: flex;
        width: 300px;
        margin-left: 30px;
    }
    .general-knowledge #logo{
        padding-left: 0px;
        font-size: 30px;
        margin-left: 30px;
        margin-top: 20px;
        /* color: green; */
    }
    .general-knowledge #text{
        margin-left: 50px;
        font-size: 20px;
        margin-top: 20px;

    }
    .music{
        display: flex;
        width: 300px;
        margin-left: 30px;
        /* background-color: tomato; */
    }
    .music  #logo{
        font-size: 30px;
        padding-left: 0px;
        margin-left: 30px;
        /* color: green; */
        margin-top: 20px;

    }
  
    .music #text{
        margin-right: 0px;
        font-size: 20px;
        margin-top: 20px;
        /* color: green; */
        margin-left: 90px;

    }

    .technology{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        width: 300px;
        margin-left: 30px;
    }
 

    .technology #logo{
        padding-left: 0px;
        font-size: 30px;
        margin-left: 30px;
        margin-top: 20px;
        margin-right: 0px; 

    }
    .technology #text{
        margin-left: 60px;
        font-size: 20px;
        margin-top: 20px;
        margin-right: 60px;
        /* background-color: turquoise; */

    }
}