@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    background-color: hsl(240, 100%, 5%);
}
.wrapper{
    width: 100%;
    height: 400px;
    color: white
}
.header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(212, 25%, 25%);
    padding: 1.0em;
    box-shadow: 0px 0px 4px  hsl(212, 25%, 25%);
}

.header #text{
    font-size: 40px;
    color: white;
    color: orangered;

}
.header #log{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.header #log:hover{
    color: red;

}
.notify{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 1.0em;
    color: white;
    padding: 6px 16px 6px 16px;

}
#timer{
    color: red;
}
hr{
    margin: 10px 17px 0px 17px;

}

.app__question-container {
    border-radius: 8px;
    margin-top: 20px;
  }

  .question__options-container {
    padding: 5px;
    margin-top: 20px;
  }

  .question__options-item {
    font-size: 20px;
    color: hsl(212, 15%, 53%);
  }
.question-title{
    padding-left: 15px;
    font-size: 25px;
    font-weight: 600;

}
  .question__options-item input[type="radio"] {
    padding: 0px;
    border: 0px;
    width: 50px;
    height: 30px;

    vertical-align: middle;
  }
  
  .app-btns {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .app-btns button {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
  }
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 1.0em;
}
button{
    border: none;
    width: 100px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
@media(max-width: 600px) {
    .first{
        display: flex;
    }
    .header #text{
        font-size: 30px;
    }
    .last #log{
        margin-top: 20px;
    }
    .notify{
        display: flex;
    }
    .notify #quest{
        font-size: 20px;
    }
    .notify #timer{
        font-size: 20px;

    }
.question-title{
    padding: 0.5rem;
}

}
@media(max-width: 800px) {
}