@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins";
    background-color: hsl(240, 100%, 5%);
}
.medium{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8rem;

}
.medium main{
    width: 50%;
    height: 400px;
    background-color: rgb(195, 201, 207);
    justify-content: center;
    border-radius: 10px;
}
.medium .trophy{
    background-color: aqua;
    height: 150px;
}
.medium .more{
    align-items: center;
}
.medium h1 , h2, p{
    text-align: center;
}
.medium h1{
    color: rgb(11, 177, 11);
    font-size: 35px;
}
.medium .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.medium button{
    padding: 0.7rem;
    margin-top: 30px;
    cursor: pointer;
}